* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  background: #eef2ff;
}
/* ========================= */
/* LIGHT THEME */
/* ========================= */

.light {
  background: #f5f7fa;
  color: #222;
  min-height: 100vh;
}

/* ========================= */
/* DARK THEME */
/* ========================= */

.dark {
  background: #121212;
  color: white;
  min-height: 100vh;
}

/* Navbar */

.dark .navbar {
  background: #1f1f1f;
  color: white;
}

/* Sidebar */

.dark .sidebar {
  background: #181818;
}

/* Chat Window */

.dark .chat-window {
  background: #202124;
}

/* User Bubble */

.dark .message.user .bubble {
  background: #6c63ff;
}

/* AI Bubble */

.dark .message.bot .bubble {
  background: #2c2c2c;
  color: white;
}

/* Input */

.dark .chat-input {
  background: #1e1e1e;
}

.dark .chat-input input {
  color: white;
  background: #2a2a2a;
}

/* Welcome */

.dark .welcome {
  color: white;
}
